SPRING_APPLICATION_NAME=document-service
SPRING_PROFILES_ACTIVE=docker
SERVER_PORT=8086

MONGODB_URI=mongodb://banquito_mongo:change_me_mongo_password@mongo-document:27017/banquito_document_db?authSource=admin

OPENAPI_DOCS_PATH=/api-docs
SWAGGER_UI_PATH=/swagger-ui.html
ACTUATOR_EXPOSURE=health,info
ACTUATOR_HEALTH_DETAILS=always
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO

INTERNAL_SERVICE_KEY=change_me_internal_service_key
JWT_ISSUER=banquito-identity-access
JWT_SECRET=change_me_shared_jwt_secret
DOCUMENT_DEMO_ENABLED=true
DOCUMENT_GRPC_PORT=9096
DOCUMENT_STORAGE_MODE=MONGODB_PAYLOAD
DOCUMENT_STORAGE_BASE_PATH=/documents
